<div class="page-header">
  <%= link_to comprador_path(@comprador), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t 'buttons.back' %>
  <% end %>
  <h1>Alterar Conta</h1>
</div>

<%= render 'form' %>
