  <%= link_to compradors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t 'buttons.back' %>
  <% end %>
  <h1 class="text-center comprador-title">Cadastro de Cliente</h1>

<%= render 'form' %>
