<div class="page-header">
  <%= link_to admin_compradors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t 'buttons.back' %>
  <% end %>
  <h1>Novo Comprador</h1>
</div>

<%= render 'form' %>
