<div class="header">
  <div class=' col-xs-12 col-xs-12 col-sm-offset-5 col-sm-6 '>
    <h1>As festas mais Badaladas do País.</h1>
    <p>Esteja nos MAIORES eventos do Brasil.</p>
      <%= link_to new_comprador_path do %>
        <p class= 'link'>Cadastrar-se agora! <i class="glyphicon glyphicon-share-alt"></i></p>
      <% end %>
  </div>
</div>
