<div id="serviços">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="image-area center-block">
          <span><i class="glyphicon glyphicon-glass"></i></span>
        </div>
        <div class="text-area">
          <h3 class="serviço-heading">E-Commerce</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="image-area center-block">
          <span><i class="glyphicon glyphicon-sunglasses"></i></span>
        </div>
          <div class="text-area">
            <h3 class="serviço-heading">Design Responsivo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="image-area center-block">
          <span><i class="glyphicon glyphicon-usd"></i></span>
        </div>
        <div class="text-area">
          <h3 class="serviço-heading">Web Security</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
