<div class="sobre">
  <div class="container">
    
    <div class="featurette">
        <%= image_tag 'event', class: 'featurette-image img-circle img-responsive featurette-image-right'%>
      <div class="featurette-text">
        <h2 class="featurette-heading">Where does it come from?
          <span class="text-muted"> Why do we use it?</span>
        </h2>
        <p class="lead">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
      </div>
    </div>

    <div class="featurette">
      <div class="featurette-image-box">
        <%= image_tag 'event2', class: 'featurette-image img-circle img-responsive featurette-image-left'%>
      </div>
      <h2 class="featurette-heading">The Second Heading
        <span class="text-muted">Is Pretty Cool Too.</span>
      </h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <div class="featurette">
      <div class="featurette-image-box">
        <%= image_tag 'event3', class: 'featurette-image img-circle img-responsive featurette-image-right'%>
      </div>
      <h2 class="featurette-heading">The Third Heading
        <span class="text-muted">Will Seal the Deal.</span>
      </h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

  </div>
</div>
